<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Mission</title>
</head>
<body>
    <h1>TYPES OF MARS MISSION</h1>
    <p>
        <a href="/missions/0"><%=mainIndex[0].name; %></a><br>
        <a href="/missions/1"><%=mainIndex[1].name; %></a><br>
        <a href="/missions/2"><%=mainIndex[2].name; %></a><br>
        <a href="/missions/3"><%=mainIndex[3].name; %></a><br>
        <a href="/missions/4"><%=mainIndex[4].name; %></a><br>
    </p>
</body>
</html>