<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Mission</title>
</head>
<body>
    <h1>CHOOSEN MISSION:</h1>

    <a href="/missions">Back to Main</a><br><br>
    The <%=mission.name; %> was launch in <%=mission.launchDate; %>. <br>
    It is operated by <%=mission.operator; %>, and the mission type was:<%=mission.missionType; %><br>

    <img src="<%=mission.img; %>"/>
       
</body>
</html>